/* .logo {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#kingCedar{
  width: 150px;
}

#oxfordGrey{
  width: 150px;
}

#blackRose{
  width: 150px;
}

#singleGate{
  width: 150px;
}

#lattice{
  width: 450px;
}

#blackAlumBoard{
  width: 450px;
}

#linearFeet{
  padding-bottom: 25px;
}
#top {
  padding-top: 25px;
}
#cardHeader {
  padding-top: 25px;
}

.tableCell {
  text-align: center;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: Roboto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  text-align: center;
  background-color: black;
}

.container {
  margin-bottom: 100px;
}

#goBack {
  text-align: center;
}

h6 {
  text-align: center;
}

.MuiCardHeader-title{
  text-align: center; 
}
